.DS_Store

*.apk
*.ap_
*.jar

*.dex

*.class

bin/
gen/
classes/
out/

.gradle/
build/

local.properties

proguard/

*.log

.navigation/

captures/

*.iml
.idea/workspace.xml
.idea/libraries

*.jks

.externalNativeBuild


!gradle/wrapper/gradle-wrapper.jar

lint

Thumbs.db

*.bak

obj/

.classpath
.project
app/src/androidTest/
app/src/test/
